<div class="cm-page">
    <div class="mc-header__outer">
        <div class="mc-header__inner">
            <span class="mc-nav-action mc-breadcrumb">
                <span class="see-more-arrow"><</span>
                <a href="#">
                    See More Instructors
                </a>
            </span>
            <a class="mc-header__wordmark" href="#">
                <img class="mc-header-logo-full" src="https://do6eyjibs3jse.cloudfront.net/assets/refresh/global/logo-wordmark-d877f23f3d8d268d21363154e97d193e4ba5690dd3fa376a38c2ad243c469fe9.svg" alt="Logo wordmark">
            </a>
            <!-- <a id="logo-primary" href="/">
            <img class="mc-header__logo" src="https://do6eyjibs3jse.cloudfront.net/assets/refresh/global/logo-f4f6da1f914f01c62d6d9298b29c4b965d69109fc7668c60a7b6652505d9bacd.png">
        </a> -->
        <a class="mc-header__login-link" href="#"> Log In</a>
    </div>
    </div>

    <div class="cm-main-wrap">
        <!-- course hero area -->
        <section class="wrap-course-hero">
            <div class="vignette"></div>
            <img class="course-hero" src="https://d3e9iqx18mbphw.cloudfront.net/images/1589/original/1523378551-Class_Hero.jpg" alt="">
            <img class="play-button" src="https://do6eyjibs3jse.cloudfront.net/assets/icons/icn-play-button-7ba012291cbf0c5ef41a6809bf798ce99aed9a8f76de812b219817cbba41e472.svg" alt="">
            <h1 class="course-inst"><%= "#{@course.instructor.first_name} #{@course.instructor.last_name}" %></h1>
            <h2 class="course-title">teaches <%= @course.title %></h2>
        </section>

        <!-- enroll info -->
        <section class="wrap-course-enroll">
            <div class="dev-col-three">
                <img class="column-icon loading" height="40" width="100" alt="icon" src="https://d3e9iqx18mbphw.cloudfront.net/images/1609/original/1524172854-CH_Orbit.svg?1524172854" data-was-processed="true">
                <p class="cm-intro-title"><%= @course.cm_intro_title %></p>
                <p class="cm-intro-desc"><%= @course.cm_intro_desc %></p>
            </div>
            <div class="dev-col-three">
                <img class="column-icon loading" height="40" width="100" alt="icon" src="https://d3e9iqx18mbphw.cloudfront.net/images/1610/original/1524172854-CH_Spacewalk.svg?1524172854" data-was-processed="true">
                <p class="cm-intro-title"><%= @course.cm_excl_title %></p>
                <p class="cm-intro-desc"><%= @course.cm_excl_desc %></p>
            </div>
            <div class="dev-col-three">
                <div class="cm-ctas-block">
                    <h5 class="cm-ctas-block__title">Get started now</h5>
                    <a class="mc-button cm-ctas-block__primary-button" href="#cart?product_id=62">All-Access Pass</a>
                    <div class="cm-ctas-block__pricing-description">$180 / year - Access to all our classes<a class="subscription-modal-type__more-info-icon" data-purchase-click="false" data-location="hero" data-action="faq" data-video="" href="#take_class?product_id=81">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 30 30" version="1.1">
                            <!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch -->
                            <title>icon-info</title>
                            <desc>Created with Sketch.</desc>
                            <defs/>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="icon-info" fill-rule="nonzero" fill="#FFFFFF">
                                    <path d="M2,15 C2,22.1808566 7.81963156,28 15,28 C22.1808566,28 28,22.1803684 28,15 C28,7.81914342 22.1803684,2 15,2 C7.81914342,2 2,7.81963156 2,15 Z M0,15 C0,6.71572875 6.71390727,0 15,0 C23.2842712,0 30,6.71390727 30,15 C30,23.2842712 23.2860927,30 15,30 C6.71572875,30 0,23.2860927 0,15 Z" id="Oval" opacity="0.5"/>
                                    <path d="M11.4214682,9.0468877 C11.6370339,8.85153125 11.8722101,8.66674995 12.1268906,8.49249488 C12.3864801,8.31488103 12.6690926,8.15825241 12.9744742,8.02252724 C13.2828862,7.88545526 13.6155639,7.77797477 13.972202,7.69985403 C14.3316492,7.62111798 14.7177267,7.582 15.130256,7.582 C15.6824366,7.582 16.1955645,7.66094275 16.6683832,7.8196994 C17.1465827,7.98026275 17.562207,8.21273054 17.9126152,8.5171256 C18.2650216,8.82325643 18.5415071,9.19249834 18.7403215,9.62207927 C18.9404729,10.0545494 19.0399015,10.5357127 19.0399015,11.0621977 C19.0399015,11.5884229 18.9607628,12.0509445 18.7995363,12.4486365 C18.6432725,12.8340874 18.4453548,13.1721238 18.2053972,13.4614844 C17.9719217,13.7430284 17.7152442,13.9893698 17.435559,14.199997 C17.1783189,14.3937211 16.9369985,14.5762989 16.7115961,14.7477318 C16.4994628,14.9090726 16.3188612,15.0674691 16.1697771,15.2223996 C16.0565124,15.3401061 15.9932246,15.4635691 15.9737686,15.5912371 L15.7539045,17.3385781 L13.8543668,17.3385781 L13.8271805,17.0181687 L13.6943708,15.4517566 C13.6544504,15.084489 13.7209581,14.7519507 13.8972347,14.4665506 C14.0495279,14.2199806 14.2454446,13.9917107 14.4838149,13.7818025 C14.7080073,13.5843793 14.9563216,13.3927273 15.2287112,13.2067052 C15.4723466,13.04032 15.6979325,12.8548053 15.905687,12.6500188 C16.1042921,12.4542508 16.2715349,12.2331503 16.4079892,11.9858268 C16.530586,11.76362 16.5934802,11.4923888 16.5934802,11.1671738 C16.5934802,10.957777 16.553869,10.774575 16.4758527,10.6136664 C16.3955521,10.4480464 16.2862176,10.3076509 16.1458782,10.189866 C16.0026598,10.0696649 15.8320667,9.97661411 15.6316598,9.9106908 C15.4258615,9.84299398 15.205099,9.8089257 14.9680201,9.8089257 C14.6227195,9.8089257 14.3361332,9.84966591 14.1088231,9.92814201 C13.8614327,10.0135506 13.6540104,10.1049324 13.4870146,10.2011673 C13.3114784,10.3023238 13.1694445,10.3945726 13.0617464,10.4767633 C12.8855431,10.6112342 12.7185389,10.686908 12.5440256,10.686908 C12.2301099,10.686908 11.9761812,10.53576 11.8450039,10.2815594 L11.2062146,9.24196125 L11.4214682,9.0468877 Z M13.1578974,20.6722863 C13.1578974,20.4547374 13.1986825,20.2467333 13.2802533,20.0509633 C13.3606712,19.8579604 13.4724907,19.6871817 13.6148224,19.5407833 C13.7580915,19.3934207 13.9277796,19.276888 14.1215304,19.192122 C14.3192456,19.1056216 14.5324408,19.0625726 14.7580678,19.0625726 C14.9777628,19.0625726 15.1877812,19.1058117 15.385062,19.192122 C15.5774481,19.276291 15.7474711,19.3916637 15.8930808,19.5372734 C16.0386904,19.6828831 16.1540631,19.852906 16.2382321,20.0452921 C16.3245425,20.242573 16.3677815,20.4525913 16.3677815,20.6722863 C16.3677815,20.8979133 16.3247325,21.1111086 16.2382321,21.3088237 C16.1540631,21.5012099 16.0386904,21.6712328 15.8930808,21.8168425 C15.7460568,21.9638665 15.5740565,22.0785333 15.3793908,22.1596441 C15.1836209,22.2412149 14.9756167,22.282 14.7580678,22.282 C14.5345637,22.282 14.3233919,22.24139 14.1272016,22.1596441 C13.9311648,22.0779621 13.7594893,21.9621328 13.6148224,21.8133326 C13.4724907,21.6669342 13.3606712,21.4961554 13.2802533,21.3031525 C13.1985074,21.1069622 13.1578974,20.8957904 13.1578974,20.6722863 Z" id="?"/>
                                </g>
                            </g>
                        </svg>
                    </a></div>
                        <div class="cm-ctas-block__separator"><span>OR</span></div>
                        <div class="cm-ctas-block__non-aap-buttons">
                            <div class="cm-ctas-block__non-aap-button cm-ctas-block__non-aap-button--single"><a class="mc-button mc-button--secondary" data-mc-segment-trigger="true" data-mc-segment-event-type="Purchase Click" data-event-obj="{&quot;location&quot;:&quot;hero&quot;,&quot;action&quot;:&quot;primary&quot;,&quot;type&quot;:&quot;single-class&quot;,&quot;class&quot;:&quot;chris-hadfield-teaches-space-exploration&quot;,&quot;video&quot;:&quot;&quot;}" href="#cart?product_id=81">Single Class</a>
                            <p class="cm-ctas-block__single-class-description">$90</p>
                            </div>
                        <div class="cm-ctas-block__non-aap-button cm-ctas-block__non-aap-button--gift">
                            <a class="mc-button mc-button--outline" data-mc-segment-trigger="true" data-mc-segment-event-type="Purchase Click" data-event-obj="{&quot;location&quot;:&quot;hero&quot;,&quot;action&quot;:&quot;gift&quot;,&quot;class&quot;:&quot;chris-hadfield-teaches-space-exploration&quot;,&quot;video&quot;:&quot;&quot;}" href="#gift_options?product_id=81">Gift</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- course description -->
        <section class="wrap-cm-less">
            <h3 class="cm-less-title"><%= @course.cm_less_title %></h3>
            <p class="cm-less-desc"><%= @course.cm_less_desc %></p>
        </section>
        <%= image_tag ("class_portrait.jpg"), class: "cm-less-img" %>

        <!-- chapters -->
        <section class="wrap-cm-less-list">
            <% @course.chapters.each do |c| %>
                <div class="indv-less">
                    <div class="wrap-cm-chapt-number">
                        <p class="cm-chapt-number">
                            <% if c.number < 10 %>
                            <span>0</span>
                            <% end %>
                            <%= c.number %>
                        </p>
                    </div>
                    <div class="wrap-cm-chapt-info">
                        <p class="cm-chapt-title"><%= c.title %></p>
                        <p class="cm-chapt-desc"><%= c.desc %></p>
                    </div>
                </div>
            <% end %>
        </section>
    </div>
</div>
